
<div id="entry-<%= entry.id %>" 
	data-entry-id="<%=entry.id%>" 
	data-current-img-loc="<%=entry.image%>" 
	data-img-count="<%=entry.optional_images.size%>"
	class="image-box shadow" style="background-color: black; position: absolute; <%=entry.custom_css %>">
	<% entry.optional_images.each_with_index do |op_img, index| %>
		<%image = Image.find(op_img) %>
		<% if index === Integer(entry.image)%>
			<%= image_tag(image.imageString(), :alt => "img", :size => "#{image.x}x#{image.y}", :style => "float: left", :id => "display-image-entry-#{entry.id}") %>	
		<% end %>
		<input type="hidden" id="optional-images-entry-<%=entry.id%>-<%=index%>" value="<%=image.imageString()%>" />
	<% end%>
	<div class="image-overlay-text" style="background-color:<%=color%>;"><div style="height: 100%; overflow: hidden; padding: 0 10px;"><%= entry.text %></div></div>
	<div class="arrow-overlay"></div>
	<div class="arrow-overlay right-arrow"> </div>
</div>