<h1>Listing entries</h1>

<table>
  <tr>
    <th>Pageid</th>
    <th>Text</th>
    <th>Image</th>
    <th>Image Size</th>
    <th>Customcss</th>
    <th>Image Choices</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @entries.each do |entry| %>
  <tr>
    <td><%= entry.page_id %></td>
    <td><%= entry.text %></td>
    <td><%= entry.image %></td>
    <td><%= entry.image_size %></td>
    <td><%= entry.custom_css %></td>
    <td><%= entry.optional_images %></td>
    <td><%= link_to 'Show', entry %></td>
    <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
    <td><%= link_to 'Destroy', entry, confirm: 'Are you sure?', method: :delete, :remote=>true, :class=>'delete_clazz' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Entry', new_entry_path %>
