
<%= form_for(@clazz, :remote => true, :html => {:method => :post, :class => "search_form general_form", :style => 'height:100%;' }) do |f| %>

  <% if @clazz.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@clazz.errors.count, "error") %> prohibited this clazz from being saved:</h2>

      <ul>
      <% @clazz.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="float-down">
    <div style="float: right;">
       <%= f.submit "Create New Class", :id => "clazz-create-submit", :onclick => "$( '#popup' ).dialog( 'close' );"%>
       <%= popup_cancel.html_safe %>
    </div>
  </div>
<% end %>
