<h1>Listing clazzs</h1>

<table>
  <tr>
    <th>Name</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @clazzs.each do |clazz| %>
  <tr>
    <td><%= clazz.name %></td>
    <td><%= clazz.user_id %></td>
    <td><%= link_to 'Show', clazz %></td>
    <td><%= link_to 'Edit', edit_clazz_path(clazz) %></td>
    <td><%= link_to 'Destroy', clazz, confirm: 'Are you sure?', method: :delete, :remote=>true, :class=>'delete_clazz' %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Clazz', new_clazz_path %>
