<%= form_for(@page, :remote => true, :html => {:method => :post, :class => "search_form general_form", :style => 'height:100%;' }) do |f| %>

  <% if @page.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
      <% @page.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <%= hidden_field_tag(:section_id, @page.section_id ) %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :custom %><br />
    <%= f.text_field :custom %>
  </div>

  <div class="float-down">
    <div style="float: right;">
      <%= f.submit "New Page", :id => "page-create-submit", :onclick => "$( '#popup' ).dialog( 'close' );"%>
      <%= popup_cancel("popup").html_safe %>
    </div>
  </div>
<% end %>
