 <li class="mini-box 
 	<%=first_box ? 'draggable-false' : 'draggable-nav' %>" 
 	data-page-id="<%= page_scroll.id %>" style="background:<%= color[:color] %>">
 	<!-- Crazy display will be shown here. -->
 	<!-- <%= page_scroll.title %> -->
 	<%= link_to "", page_scroll, :remote=>true, :class => "fill-div" %>
</li>  