<div class="header">
	<% if @clazz.nil? == true %>
		<%= logo %>
	<% else %>
		<div id="left-nav" class="shadow">
			<%= link_to image_tag("back_button.png", :alt => "back button", :size => "22x59", :style => "float: left"), root_path %>
			<div style="padding-left: 10px; float: left;">
				<h2><%= @clazz.name %></h2>
				<p id="header-page-name" style="color:white;">page</p>
			</div>
			<%= link_to '', root_path %>
		</div>
	<% end %>
	
	<script type="text/javascript">
		$(document).ready(function(){

			$("ul.subnav").parent().append("<span></span>"); //Only shows drop down trigger when js is enabled (Adds empty span tag after ul.subnav*)
			
			$("ul.button-nav li span").click(function() { //When trigger is clicked...

				if($("ul.subnav").is(":visible")) {
					//We are hiding it
					$(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
					$(this).removeClass("subhover"); //On hover out, remove class "subhover"
				} else {
					//We are showing it
					$(this).parent().find("ul.subnav").slideDown('fast').show(); //Drop down the subnav on click
					$(this).parent().hover(function() {
					}, function(){
						$(this).parent().find("ul.subnav").slideUp('slow'); //When the mouse hovers out of the subnav, move it back up
						//debugger;
						$(this).children('.subhover').removeClass("subhover"); //On hover out, remove class "subhover"
					});	
					$(this).addClass("subhover"); //On hover over, add class "subhover"				
				}
			});

			/* Move to application.js once it's finished */
		    $('#save-all-btn').click(function(event){
		    	updatePageEntries();
		    });


			function updatePageEntries() {
				page_id = $('#page-canvas').attr("data-page-id")
				json_message = gatherPageUpdates();
				$.ajax({
					type: "PUT",
					url: "/page_notes/" + page_id + ".json",
					contentType: "application/json",
					dataType: "JSON",
					data: JSON.stringify({"notes": json_message}),
				    beforeSend: function(x) {
			            if (x && x.overrideMimeType) {
			              x.overrideMimeType("application/j-son;charset=UTF-8");
			            }
			            setOverlayDimensionsToCurrentDocumentDimensions();
 						$('#custom-overlay').fadeIn();
			          }
				}).success(function(data) {
					setOverlayDimensionsToCurrentDocumentDimensions();
 					$('#custom-overlay').fadeOut();
				});			
				$.ajaxSettings.accepts.html = $.ajaxSettings.accepts.script;
			}

			function gatherPageUpdates() {	
				var json_objects = new Array();
				$("#page-canvas").children().each(function(index, image_obj){
					image_obj = $(image_obj)
					var json_object = {note_id: parseInt(image_obj.attr("data-entry-id")), attributes: {imageid:parseInt(image_obj.attr("data-current-img-loc")), left:image_obj.css("left"), top:image_obj.css("top")}};
					json_objects.push(json_object);
				});
				return json_objects;
			}
		});
	</script>

	<ul class="button-nav right-nav">
	    <li>
	        <%= link_to image_tag("Newnote.png", :alt => "+Note", :size => "56x26", :style => "float: left"), {:controller => "entries", :action => "new", :current_page => @current_page.nil? ? "none" : @current_page.id }, :remote => true, :id => "new-entry-button" %>
	        <ul class="subnav">
	            <li><a href="#">+Page</a></li>
				<li><%= link_to '+Section', new_clazz_path, :remote=>true, :class=>'create_clazz fill-div' %></li>
	        </ul>
	    </li>
	    <li>
	    	<%= link_to 'Show Text', '#', :id => 'show-text-btn', :class => 'show-text-btn-on' %>
	    </li>
	    <li>
	    	<%= link_to 'Show Text', '#', :id => 'save-all-btn', :class => 'save-btn' %>
	    </li>
	   
	</ul>

</div>
