<!DOCTYPE html>
<html>
<head>
  <title><%= title %><</title>
  <%= render 'layouts/stylesheets' %>
  <%= csrf_meta_tags %>
</head>
<body>
	<script type="text/javascript">
	$(document).ready(function() {
		$.idleTimer(5000); 
		$(document).bind("idle.idleTimer", function(){
		 // function you want to fire when the user goes idle
			var timer = window.setTimeout ( function() {
				$('#custom-overlay').fadeOut(500, function() { 
					window.location = '/signin'; 
				}) 
			}, 10000);

	 		 $( "#overlay-popup" ).dialog({ height: 150, 
	 			title: "Create New Note", 
	 			position: "center", 
	 			zIndex: 1003,
	 			modal: true, 
	 			draggable: false, 
	 			resizable: false,
	 			buttons: { 
	 				"Keep Going": function() { clearTimeout(timer); $(this).dialog("close"); },
	 				"Finished" : function() { $(this).dialog("close"); window.location = '/signin'; }
	 			} 
	 		});
		});
	});
	</script>
	<div id="container">
		<% if @hide.nil? %>
			<%= render 'layouts/header' %>
		<% end %>
		
		<% flash.each do |key, value| %>
			<div class="flash <%= key %>"><%= value %></div>
		<% end %>
		
		<!-- This is where the body is  -->
		<div class="clear"></div>
		<%= yield %>
		<div class="clear"> </div>
		<%= debug(params) if Rails.env.development? && false %>
	</div>
	<div id="popup"></div>
	<div id="undo-delete-items"> </div>
</body>
</html>
