<!DOCTYPE html>
<html>
<head>
	<title><%= title %><</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>

	<%= stylesheet_link_tag	 "home", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body>
	<div id="wrap" style="paddin-bottom: 10px">
		<div id="header">
			<div class="left-nav" style="height: 100px;"> IMG</div>
			<%= logo_small %>
			<div style="float: right; padding-top: 15px;">
				<div> Welcome <%= @user.user_name %> | <%= link_to 'Log out', signout_path %> </div>
			</div>
		</div>
		<div class="clear"> </div>
		<div id="content">
			<%= yield %>
		</div>
	</div>
	<div id="popup"></div>
</body>