<!DOCTYPE html>
<html>
<head>
	<title><%= title %><</title>
	<%= stylesheet_link_tag    "application", :media => "all" %>

	<%= stylesheet_link_tag	 "home", :media => "all" %>
	<%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
</head>
<body style="margin-top: -20px;">
	
	<div class="center" style="padding-top:100px; width: 541px;">
		<%=	 image_tag("BoxBack.png", :alt => "No Alt", :size => "541x299") %>
		<%= yield %>
	</div>
</body>